/* .center {
  margin: auto;
  width: 30%;
  background-color: #808080;
  padding: 20px;
} */
label{
	display:inline-block;
	width:200px;
	margin-right:30px;
	text-align:left;
	vertical-align:top;
}
.container{
	padding-bottom:30px;
	 padding: 15px;
	 font-weight: bold;
}
.btn{
	padding-bottom:30px;
	 padding: 15px;
	 margin-left:450px;
}
.navbar {
	background: #D3D3D3;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}
.footer-copyright{
	padding: 200px;
}